{% if error_message %} <p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'encuestas:votos' encuesta.id %}" method="post">
	{% csrf_token %}
	{% for eleccion in encuesta.eleccion_set.all %}
		<input type="radio" name="eleccion" id="eleccion{{forloop.counter}}" value="{{eleccion.id}}"/>
		<label for="eleccion{{forloop.counter}}">{{eleccion.texto}}</label>
		<br>
	{% endfor %}
	<input type="submit" value="Voto"/>
</form>

<!-- lo usamos primero para ver la lista de texto
<h1>{{ encuesta.pregunta }}</h1>
<ul>
	{% for eleccion in encuesta.eleccion_set.all  %}
		<li>{{ eleccion.texto }}</li>
	{% endfor %}
</ul>
<h1>{{encuesta.pregunta}}</h1>
-->

 